<div class="row">
  <div class="container">
    <div class="col-md-5 top-card-padding">
      <div class="card">
        <h1 class="card_header">
          <%= link_to 'Community Service', '#' %>
        </h1>
        <div class="post_text">
          <table>
            <% @organizations.each do |organization| %>
                <tr>
                  <td><%= organization.name %></td>
                  <td style="padding-right: 20px;"></td>
                  <td><%= organization_total_hours(organization) %> Hours</td>
                </tr>
            <% end %>
          </table>
        </div>
        <div class="clear"> </div>
      </div>
    </div>

    <div class="col-md-5 col-md-offset-2 top-card-padding">
      <div class="card">
        <h1 class="card_header">
          <%= link_to 'Philanthropy', '#' %>
        </h1>
        <div class="post_text">
          <table>
            <% @organizations.each do |organization| %>
                <tr>
                  <td><%= organization.name %></td>
                  <td style="padding-right: 20px;"></td>
                  <td><%= organization_total_raised(organization) %> Dollars</td>
                </tr>
            <% end %>
          </table>
        </div>
        <div class="clear"> </div>
      </div>
    </div>
  </div>
</div>