<%= form_for(@event) do |f| %>
    <% if @event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

          <ul>
            <% @event.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :user_ids %><br>
      <%= select_tag :user_ids, options_for_select(@users.collect {|u| [u.login, u.id]}),:multiple => true, :prompt => 'Select Person', :name=>'events[user_ids][]' %>
    </div>
    <div class="field">
      <%= f.hidden_field :type_of_event, value: 'Philanthropy' %>
    </div>
    <%= f.fields_for :philanthropies do |philanthropies| %>
        <div class="field">
          <%= philanthropies.label :total_raised %><br>
          <%= philanthropies.text_field :total_raised %>
        </div>
    <% end %>
    <div class="field">
      <%= f.label :start %><br>
      <%= f.date_select :start %>
    </div>
    <div class="field">
      <%= f.label :end %><br>
      <%= f.date_select :end %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>