<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Type of event:</strong>
  <%= @event.type_of_event %>
</p>

<p>
  <strong>Start:</strong>
  <%= @event.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @event.end %>
</p>

<table>
  <thead>
  <tr>
    <th>Event</th>
    <th>Total hours</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @event.community_services.each do |community_service| %>
      <tr>
        <td><%= community_service.total_hours %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
