<div class="row">
  <div class="container top-card-padding">
    <p id="notice"><%= notice %></p>
    <div class="card">
      <div style="float: left">
        <h1>Philanthropies Events</h1>
      </div>
      <div style="float: right">
        <%= link_to 'New Philanthropy Event', new_philanthropy_path %>
      </div>
      <div class="container"></div>
      <div style="display: block">
        <table>
          <thead>
          <tr>
            <th>Event</th>
            <th>Total raised</th>
            <th colspan="3"></th>
          </tr>
          </thead>

          <tbody>
          <% @philanthropies.each do |philanthropy| %>
              <tr>
                <td><%= philanthropy.event.name %></td>
                <td><%= philanthropy.total_raised %></td>
                <td><%= link_to 'Show', philanthropy %></td>
                <td><%= link_to 'Edit', edit_philanthropy_path(philanthropy) %></td>
                <td><%= link_to 'Destroy', philanthropy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>