<hr>
<div style="float: left">
  <ul>
    <li>
      <%= link_to 'Greek Life at RIT', '#' %>
    </li>
    <li>
      <%= link_to 'IFC', '#' %>
    </li>
    <li>
      <%= link_to 'CPC', '#' %>
    </li>
    <li>
      <%= link_to 'NALPHO', '#' %>
    </li>
    <li>
      <%= link_to 'NPHC, '#' %>
    </li>
  </ul>
</div>
<div style="float: right">
  <ul>
    <li>
      <%= link_to 'FAQ', '#' %>
    </li>
    <li>
      <%= link_to 'Contact Us', '#' %>
    </li>
    <li>
      <%= link_to 'Go Greek', '#' %>
    </li>
  </ul>
</div>