<hr style="background-color: #ff742d; color: #ff742d; height: 1px;">
<div style="float: left; display: inline;">
  <ul style="list-style-type: none; display: inline;">
    <li style="display: inline;">
      <%= link_to 'Greek Life at RIT', '#' %>
    </li>
    <li style="display: inline;">
      <%= link_to 'IFC', '#' %>
    </li>
    <li style="display: inline;">
      <%= link_to 'CPC', '#' %>
    </li>
    <li style="display: inline;">
      <%= link_to 'NALPHO', '#' %>
    </li>
    <li style="display: inline;">
      <%= link_to 'NPHC', '#' %>
    </li>
  </ul>
</div>
<div style="float: right; display: inline; padding-right: 30px;">
  <ul style="list-style-type: none; display: inline;">
    <li style="display: inline;">
      <%= link_to 'FAQ', '#' %>
    </li>
    <li style="display: inline;">
      <%= link_to 'Contact Us', '#' %>
    </li>
    <li style="display: inline;">
      <%= link_to 'Go Greek', '#' %>
    </li>
  </ul>
</div>