<hr style="background-color: #ff742d; color: #ff742d; height: 1px; margin-top: 50px;">
<div style="float: left; display: inline;">
  <ul style="list-style-type: none; display: inline;">
    <li style="display: inline;">
      <%= link_to 'Greek Life', 'https://www.rit.edu/studentaffairs/greek/' %> |
    </li>
    <li style="display: inline;">
      <%= link_to 'IFC', 'https://www.rit.edu/studentaffairs/greek/interfraternity-council/overview' %> |
    </li>
    <li style="display: inline;">
      <%= link_to 'CPC', 'https://www.rit.edu/studentaffairs/greek/college-panhellenic-council/overview' %> |
    </li>
    <li style="display: inline;">
      <%= link_to 'NALFO', 'https://www.rit.edu/studentaffairs/greek/national-association-latino-fraternal-organizations/overview' %> |
    </li>
    <li style="display: inline;">
      <%= link_to 'NPHC', 'https://www.rit.edu/studentaffairs/greek/national-pan-hellenic-council/overview' %>
    </li>
  </ul>
</div>
<div style="float: right; display: inline; padding-right: 30px;">
  <ul style="list-style-type: none; display: inline;">
    <li style="display: inline;">
      <%= link_to 'About', '#' %> |
    </li>
    <li style="display: inline;">
      <%= link_to 'FAQ', '#' %> |
    </li>
    <li style="display: inline;">
      <%= link_to 'Contact Us', '#' %>
    </li>
  </ul>
</div>